<div>
    <h2 class="h6">General Plant Information</h2>
    <table class="plant-table table table-striped">
        <tr>
            <td>
                Plant Type: {{ plant.plant_type }}<br>
                Water Needs: {{ plant.water_needs }}<br>
                Climate Zones: {{ plant.climate_zones }}<br>
                Light Needs: {{ plant.light_needs }}<br>
                Soil Type: {{ plant.soil_type }}<br>
                Maintenance: {{ plant.maintenance }}<br>
                Flower Color: {{ plant.flower_color }}
            </td>
            <td>
                Foliage Color: {{ plant.foliage_color }}<br>
                Perfume: {{ plant.perfume }}<br>
                Aromatic: {{ plant.aromatic }}<br>
                Edible: {{ plant.edible }}<br>
                Bore Water Tolerance: {{ plant.bore_water_tolerance }}<br>
                Frost Tolerance: {{ plant.frost_tolerance }}
            </td>
        </tr>
    </table>
</div>
